<h1 class="text-3xl mt-8 mb-2 font-bold">Data Export</h1>

<p class="my-4">
  The current data export is available for download. Below
  is a link to the file.
</p>

<a href="/download_csv" class="rounded-md p-2 bg-sky-500 hover:bg-sky-600 text-sky-50 font-bold inline-block">Download</a>
